{% extends '_base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock title %}
{% block content %}
    <h1>Главная страница</h1>
    <img class="bookcover" src="{% static 'images/dfp.jpg' %}">
    {% if user.is_authenticated %}
        Привет {{ user.email }}!
        <p><a href="{% url 'account_logout' %}">Выйти</a></p>
    {% else %}
        <p>Вы не вошли в систему</p>
        <a href="{% url 'account_login' %}">Авторизоваться</a>
        <a href="{% url 'account_signup' %}">Регистрация</a>
    {% endif %}
{% endblock content %}